nav {
	padding-top: none;
}
ul {	
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	height: 45px;
	padding: 0;
}


ul li {
	display: inline-block;
	margin-top: 1px;
	width: 9%;
}


ul li a {
	color: white;
	/*padding-left: 25px;
	padding-right: 25px;*/
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	transition: 0.5s ease;
}

 ul li a:hover {
 	color: grey;
 } 

ul li a img {
	height: 35px;
